# Maintained by Ansible
zookeeper.connect={% for host in groups['zookeeper'] %}{% if loop.index > 1 %},{% endif %}{{ host }}:2181{% endfor %}

log.dir={% for logdir in kafka.broker.datadir %}{% if loop.index > 1 %},{% endif %}{{ logdir }}{% endfor %}

broker.id={{ broker_id }}
listeners=PLAINTEXT://{{ inventory_hostname }}:9092

{% for key, value in kafka.broker.config.items() %}
{{ key }}={{ value }}
{% endfor %}
